.mySwiper {
  padding-bottom: 0px !important;
}

.mySwiper .swiper-wrapper {
  transition-timing-function: linear !important;
}

.mySwiper .swiper-wrapper .swiper-slide {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
